<div class="container">

  <h1>Projets</h1>
  <br>

  <%= render 'shared/noa-animated-image' %>

  <div class="row columns">
    <div class="column">
      <%= image_tag "noa1.png", class:"d-block photos-carousel", alt:"Plat", id:"noa-first-expanded-image", onclick:"functionDisplay(this, 'noa-expanded-img');" %>
    </div>
    <div class="column">
      <%= image_tag "noa2.png", class:"d-block photos-carousel", alt:"Plat", onclick:"functionDisplay(this, 'noa-expanded-img');" %>
    </div>
    <div class="column">
      <%= image_tag "noa3.png", class:"d-block photos-carousel", alt:"Plat", onclick:"functionDisplay(this, 'noa-expanded-img');" %>
    </div>
    <div class="column">
      <%= image_tag "noa4.png", class:"d-block photos-carousel", alt:"Plat", onclick:"functionDisplay(this, 'noa-expanded-img');" %>
    </div>
  </div>

  <br>
  <br>
  <br>

  <%= render 'shared/hplace-animated-image' %>

  <div class="row columns">
    <div class="column">
      <%= image_tag "hplace1.png", class:"d-block photos-carousel", alt:"Plat", id:"hplace-first-expanded-image", onclick:"functionDisplay(this, 'hplace-expanded-img');" %>
    </div>
    <div class="column">
      <%= image_tag "hplace2.png", class:"d-block photos-carousel", alt:"Plat", onclick:"functionDisplay(this, 'hplace-expanded-img');" %>
    </div>
    <div class="column">
      <%= image_tag "hplace3.png", class:"d-block photos-carousel", alt:"Plat", onclick:"functionDisplay(this, 'hplace-expanded-img');" %>
    </div>
    <div class="column">
      <%= image_tag "hplace4.png", class:"d-block photos-carousel", alt:"Plat", onclick:"functionDisplay(this, 'hplace-expanded-img');" %>
    </div>
  </div>
</div>
